body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .50);
    padding: 10px 0;
    width: 100%;
    position: fixed;
}

.logo{
    padding-left: 20px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.menu{
    color: #FFFFFF;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    cursor: pointer;
}

.menuitem{
    color: #FFFFFF;
}

.nav{
    padding-right: 20px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    cursor: pointer;
}

.earphonepart{
    position: relative;
    background: #2B2835;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.outline{
    outline: 1px solid blue;
}

.earphoneimg{
	position: absolute;   
}

.earphonedesc{
    padding-top: 200px;
    padding-left: 800px;
    padding-bottom: 200px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.earphonebuy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.earphonemotto{
    font-size: 39pt;
    font-weight: 600;
}

.earphonebuy{
	padding-top: 20px;
}

.earphoneprice{
    padding-right: 15px;
    font-size: 18pt;
}

.earphonebutton{
    color: #000000;
    font-size: 14px;  
    width:200px;
    background: #FFC700;
    border: none;
    padding: 10px 17px;
    border-radius: 78px;
    outline: none;
    cursor: pointer;
}

.earphoneaddinfo{
    padding-top: 20px;
    color: #FFC700;
}

.pill{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.whitebutton{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
    background: white;
    margin-right:20px; 
}

.whitebutton:hover{
    border: 2px solid grey;
}

.redbutton{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;      
    background: red;
    margin-right:20px; 
    border: 0px;
}

.redbutton:hover{
    border: 2px solid grey;
}

.blackbutton{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;      
    background: black;
    border: 0px;
}

.blackbutton:hover{
    border: 2px solid grey;
}

.pillinfowrap{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.pillinfo{
    padding: 200px;	 
}

.pillnamebig{
    padding-top: 20px;
    font-size: 40pt;
    font-weight: 600;
    position: relative;
}

.pillnamebig::after{
    content: "+";
    position: absolute;
    font-size: 35pt;
    bottom: 44px;
}
.pillselect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pillimg{	
    width: 760px;
    height: 600px;
}

.checkbar{
    display: flex;
}

.availablecolors{
    padding-top: 20px;
    font-size: 31pt;
}

.findcolor{
	padding-top: 20px;
}

.colors{
    padding-top: 20px;	
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.buypill{
    width: 80%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.price{
    font-size: 20pt;
}

.check{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;      
    background: gray;
    margin: 5px;
    border: 0px;
}

.check:hover{
    background: black;
}

.buybuttonpill{
    padding-left: 100px;
    color: #FFFFFF;
    font-size: 14px;  
    width:195px;
    height: 45px;
    background: #000000;;
    border: none;
    padding: 10px 17px;
    border-radius: 78px;
    outline: none;
    cursor: pointer;
}

.addinfopill{
    padding-top: 20px;
}

.manyearphones{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.manyearphonesitem{
    width: 400px;
    position: relative;
    background: #F8F8F9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.manyearphonesitempicture{
    margin: 0 auto;
    margin-top: 20px;  
    height: 550px;
}

.manyearphonesinfo{	
    position: absolute;
    top: 350px;
    bottom: 20px;
    padding: 20px;
}

.manyearphonesname{
    font-size: 40px;
    font-weight: 600;
}

.manyearphonesname::after{
    content: "x";
    position: absolute;
    font-size: 20pt;
    bottom: 160px;
}

.manyearphonesdesc{
    padding-top: 20px;
}

.manyearphonesbuy{
    padding-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
}

.manyearphonesprice{    
    padding-right: 15px;
    font-size: 18pt;
}

.manyearphonesbuybutton{
    color: #FFFFFF;
    font-size: 14px;
    width: 80px;
    background: #000000;
    border: none;
    padding: 10px 17px;
    border-radius: 78px;
    outline: none;
    cursor: pointer;
}

.footer{
    padding: 50px;
    margin-top:150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background: #2B2835;
    color:#F8F8F9;
}

.footer1{
    padding-top: 50px;
    width: 100%;
    background: #2B2835;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footercol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footercoltitle{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}

.footercolelem{
    color: #9DA89D
}

.footer2{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D6971;
}